<div
  id="top_container"
  class="min-vh-100 d-flex justify-content-center align-items-end p-5"
>
  <div class="text-center text-white w-75">
    <h2 class="mb-4 text-shadow">Tu centro de relax en Umbrete</h2>
    <h1 class="mb-4 text-shadow">
      Sumérgete en los mejores servicios de masajes antiestrés y energéticos en
      un oasis de relax
    </h1>
    <i class="fa-solid fa-chevron-down text-shadow"></i>
  </div>
</div>

<app-main-services></app-main-services>

<app-massages></app-massages>

<app-contact-form></app-contact-form>
