<div
  data-aos="zoom-out-down"
  id="top_container"
  class="min-vh-100 d-flex justify-content-center align-items-end p-5"
>
  <div class="text-center text-white w-75">
    <h2 class="mb-4 text-shadow">Tu centro de relax en Umbrete</h2>
    <h1 class="mb-4 text-shadow">
      Sumérgete en los mejores servicios de masajes antiestrés y energéticos en
      un oasis de relax
    </h1>
    <i class="fa-solid fa-chevron-down text-shadow"></i>
  </div>
</div>

<app-main-services></app-main-services>

<div
  data-aos="fade-up"
  data-aos-duration="1000"
  class="slogan d-flex flex-column align-items-center text-center"
>
  <img
    src="assets/imgs/slogan-image.jpg"
    class="mb-5"
    alt="Slogan image"
  />

  <div data-aos="fade-up" data-aos-duration="1000">
    <i class="fa-solid fa-quote-left"></i>
    La <b>MENTE</b> que no para,
  </div>

  <div data-aos="fade-up" data-aos-duration="1000">
    el <b>CUERPO</b> que se estresa,
  </div>

  <div data-aos="fade-up" data-aos-duration="1000">
    la <b>EMOCIÓN</b> que se altera,
  </div>

  <div data-aos="fade-up" data-aos-duration="1000" class="mb-5">
    el <b>MASAJE</b> que recupera
    <i class="fa-solid fa-quote-right"></i>
  </div>
</div>

<app-massages></app-massages>

<app-contact-form></app-contact-form>
