#top_container {
  background-image: url("../../../assets/imgs/first_image_background.jpg");
  background-size: cover;
  background-position: center;
}

i {
  font-size: 2rem;
}

.slogan {
  background-color: #fff9f2;
  width: 100%;
}

.slogan div {
  font-size: 2.5rem;
}

.slogan img {
  width: 75%;
}

.slogan i {
  font-size: 3rem;
  color: rgb(241, 209, 174);
}

@media only screen and (max-width: 600px) {
  .slogan div {
    font-size: 1.5rem;
  }

  .slogan img {
    width: 100%;
  }

  .slogan i {
    font-size: 2rem;
  }
}
